<p>regions works!</p>
<section class="grid-container">
  <div class="regions">


    <div class="region-container" id="bern">
      <a href="/region-detail">
          <p class="region-name">Region Bern</p>
      </a>
    </div>

    <div class="region-container" id="adelboden">
      <a href="/region-detail">
        <p class="region-name">Adelboden-Lenk</p>
      </a>
    </div>

    <div class="region-container" id="gstaad">
      <a href="/region-detail">
        <p class="region-name">Gstaad</p>
      </a>
    </div>

    <div class="region-container" id="interlaken">
      <a href="/region-detail">
        <p class="region-name">Interlaken</p>
      </a>
    </div>

    <div class="region-container" id="jungfrau">
      <a href="/region-detail">
        <p class="region-name">Jungfrau Region</p>
      </a>
    </div>

    <div class="region-container" id="jura">
      <a href="/region-detail">
        <p class="region-name">Jura & Drei-Seen-Land</p>
      </a>
    </div>

  </div>
</section>
