.logo{
  width: 175px;
}

nav {
  display: flex;
  align-items: center;
  background-color: rgba(255,255,255,0.7);
  position: absolute;
  width: 100vw;
  left: 0;
  top: 0;
}

.nav-element {
  padding: 0 20px;
  color:black;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-element:visited {
  color:black;
}

.nav-element:hover {
  color: #c62c2c;
  text-decoration: underline;
}

.user-icon {
  width: 35px;
  right: 20px;
  position: absolute;
}

#userlink {
  width: 40px;
  height: 45px;
}
