.scanner {
  max-width: 500px;
  margin: 0 auto;
}

.scan-button {
  background-color: white;
  border-radius: 10px;
  border: 2px solid green;
  color: green;
  width: 150px;
  left: 10px;
  height: 45px;
  font-size: 25px;
  position: absolute;
  bottom: 5%;
}

.info {
  text-align: center;
  font-size: 20px;
}

.done-button {
  background-color: white;
  border-radius: 10px;
  border: 2px solid rebeccapurple;
  color: rebeccapurple;
  width: 150px;
  right: 30px;
  height: 45px;
  font-size: 25px;
  position: absolute;
  bottom: 5%;
}

.button-section {
  position: absolute;
  bottom: 5%;
  width: 100%;
}

.bold {
  font-weight: bold;
}

.red {
  border: 5px solid red;
}

.green {
  border: 5px solid green;
}

.yellow {
  border : 5px solid yellow;
}

.black {
  border: 5px solid black;
}

.error-message {
  color: red;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}
