<header class="header">

  <nav>
    <div class="nav-element" (click)="navigateTo('/')">
      <img class="logo" src="assets/images/be-tourismus.png" alt="be-tourismus">
    </div>
    <div class="nav-element" (click)="navigateTo('/regions')">Regionen</div>
    <div class="nav-element" (click)="navigateTo('/offers')">Angebote</div>
    <div class="nav-element" (click)="logout()" *ngIf="this.cookieService.check('UserID')">logout</div>
    <div class="nav-element" (click)="navigateTo('/login')" id="userlink">
      <img class="user-icon" src="/assets/icons/account.svg" alt="">
    </div>


  </nav>
</header>
